body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

@keyframes backgroundcolorchange {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}

@keyframes boxcolor {

    0% {
        order: 0px solid;
        border-radius: 1em;
        outline-style: solid;
        outline-color: rgb(255, 208, 0);
        background-color: rgb(255, 208, 0);
        outline-width: 1px;
    }

    25% {
        border: 0px solid;
        border-radius: 1em;
        outline-style: solid;
        outline-color: rgb(255, 208, 0);
        background-color: rgb(255, 208, 0);
        outline-width: 5px;
    }

    50% {
        border: 0px solid;
        border-radius: 1em;
        outline-style: solid;
        outline-color: rgb(255, 115, 0);
        background-color: rgb(255, 115, 0);
        outline-width: 1px;
    }

    75% {
        border: 0px solid;
        border-radius: 1em;
        outline-style: solid;
        outline-color: rgb(255, 115, 0);
        outline-width: 5px;
        background-color: rgb(255, 115, 0);
    }

    100% {
        border: 0px solid;
        border-radius: 1em;
        outline-style: solid;
        outline-color: rgb(255, 208, 0);
        outline-width: 1px;
        background-color: rgb(255, 208, 0);
    }
}

* {
    min-width: none;
    max-width: none;
}

.header {
    color: rgb(0, 0, 0);
    background-image: linear-gradient(170deg, red, darkorange, yellow);
    background-size: 400%, 400%;
    width: 100%;
    padding: 45vh 0;
    text-align: center;
    box-sizing: border-box;
    animation: backgroundcolorchange 5s ease infinite;

}


.header h1 {
    text-shadow: 1;
}

.header h1 {
    font-size: 3em;
    padding: 0;
    margin: 0;
}

.header p {
    padding: 0;
    margin: 0;
}



.topnav {
    list-style-type: none;
    padding: 0;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 5;
    font-size: 0.75em;
}

.topnav a {
    color: white;
    padding: 1.75em;
    text-decoration: none;
    display: inline-block;
    margin: 0;
}

.topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}

.dropdown-content ul a {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    box-sizing: border-box;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: black;
}

.row {
    display: flex;
}

.leftside {
    flex: 10%;
    background-color: #f1f1f1;
    position: relative;
}

.leftside-content {
    position: sticky;
    top: 3.5em;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 800px) {
    .leftside {
        display: none;
    }

    .side {
        display: none;
    }

    .main {
        flex: 90%;
        padding: 1em 3em;
    }

    .main div {
        flex: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 430px) {}

/* 时间显示样式 */
.current-time {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding: 1em 2em;
    margin: 1em 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.time {
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

.main {
    flex: 80%;
    padding: 4em 0.5em 0.5em 0.5em;
    flex-wrap: wrap;
    display: flex;
    background-color: rgb(255, 255, 255);
}

.main p {
    text-indent: 2em;
}

.main a {
    color: darkorange;
    text-decoration: none;

}

.main a:hover {

    text-decoration: underline;
}

.main-container {
    flex: 50%;
    max-width: 50%;
    padding: 0 0.5em;
    box-sizing: border-box;
}

.main-container div {
    margin: 1em 0;
    padding: 0.5em 0.5em;
    background-color: rgb(241, 241, 241);
    border-radius: 0.3em;
}

.main-container h2 {
    margin-top: 0;
}

.main img {
    width: 90%;
    display: flex;
    justify-self: center;
    box-sizing: border-box;
    border: darkorange 0.2em solid;
    border-radius: 0.3em;
    margin: 0.5em 0;
}

.side {
    flex: 10%;
    padding: 1em;
    background-color: #f1f1f1;
    position: relative;

}

.side-content {
    position: sticky;
    top: 5em;
}

.side p {
    display: inline-block;
    margin: 0.5em;
    padding: 0 0.5em;
    box-sizing: border-box;

}

.side a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.side p:hover {
    animation: boxcolor 1s ease infinite
}


.footer {
    background-color: black;
    color: white;
    padding: 2em;
    font-size: 0.75em;
    position: relative;
    display: flex;
    justify-content: space-around;

}

.footer a {
    color: white;
    display: inline-block;

}

.footer a:hover {
    transform: scale(1.04);
    color: darkorange;
}



.footer span {
    display: inline-block;
    padding-left: 0em;
    padding-right: 0.5em;
}